Node-red json file.json
[{"id":"f76b3e37.482bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf123eef.deea5","type":"ui_form","z":"f76b3e37.482bc","name":"","label":"","group":"775139c.d8959c8","order":5,"width":0,"height":0,"options":[{"label":"Average HeartBeats permin","value":"avg","type":"number","required":true,"rows":null},{"label":"Palpitations perday","value":"p","type":"number","required":true,"rows":null},{"label":"Cholesterol","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Age","value":"a","type":"number","required":true,"rows":null},{"label":"Exercise min perweek","value":"e","type":"number","required":true,"rows":null}],"formValue":{"avg":"","p":"","c":"","bmi":"","a":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":170,"y":140,"wires":[["dfd391f3.a83c3"]]},{"id":"a8345348.f7ee9","type":"ui_dropdown","z":"f76b3e37.482bc","name":"","label":"Select your SEX","tooltip":"","place":"Select option","group":"775139c.d8959c8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Female","value":"F","type":"str"},{"label":"Male","value":"M","type":"str"}],"payload":"","topic":"payload","topicType":"msg","x":200,"y":260,"wires":[["b9290ea6.6f7d"]]},{"id":"2f1eb7d5.5ae678","type":"ui_dropdown","z":"f76b3e37.482bc","name":"","label":"Family History","tooltip":"","place":"Select option","group":"775139c.d8959c8","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"No","value":"N","type":"str"},{"label":"Yes","value":"Y","type":"str"}],"payload":"","topic":"payload","topicType":"msg","x":200,"y":360,"wires":[["aaca824c.701d5"]]},{"id":"88992b7b.bed468","type":"ui_dropdown","z":"f76b3e37.482bc","name":"","label":"Smoker last 5y","tooltip":"","place":"Select option","group":"775139c.d8959c8","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"payload","topicType":"msg","x":200,"y":480,"wires":[["f736b9c9.b34338"]]},{"id":"73657371.284a9c","type":"debug","z":"f76b3e37.482bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":180,"wires":[]},{"id":"a6dc9c52.5aa33","type":"debug","z":"f76b3e37.482bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"db1cb503.1709e8","type":"debug","z":"f76b3e37.482bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]},{"id":"751f0c12.491814","type":"debug","z":"f76b3e37.482bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":480,"wires":[]},{"id":"dfd391f3.a83c3","type":"function","z":"f76b3e37.482bc","name":"global variables for form node","func":"global.set(\"avg\",msg.payload.avg)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"e\",msg.payload.e)\nvar apikey = \"xo9j4KYt0VVJXHIWCa4wNGFybRXhDihHTCysbUacTjKI\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["73657371.284a9c","da072614.cf0998"]]},{"id":"b9290ea6.6f7d","type":"function","z":"f76b3e37.482bc","name":"sex","func":"global.set(\"s\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":260,"wires":[["a6dc9c52.5aa33"]]},{"id":"aaca824c.701d5","type":"function","z":"f76b3e37.482bc","name":"familyhistory","func":"global.set(\"fh\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":360,"wires":[["db1cb503.1709e8"]]},{"id":"f736b9c9.b34338","type":"function","z":"f76b3e37.482bc","name":"Smoker","func":"global.set(\"smoker\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":480,"wires":[["751f0c12.491814"]]},{"id":"da072614.cf0998","type":"http request","z":"f76b3e37.482bc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":80,"wires":[["cd5f6868.0035f8","1155ef3a.ba59b1"]]},{"id":"cd5f6868.0035f8","type":"debug","z":"f76b3e37.482bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"1155ef3a.ba59b1","type":"function","z":"f76b3e37.482bc","name":"","func":"var avg = global.get(\"avg\")\nvar p = global.get(\"p\")\nvar c = global.get(\"c\")\nvar bmi =  global.get(\"bmi\")\nvar a =  global.get(\"a\")\nvar e =  global.get(\"e\")\nvar smoker = global.get(\"smoker\")\nvar sex = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar token = msg.payload.access_token\nmsg.headers = {'Content-Type':'application/json','Authorization':\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload = {\"input_data\":[{\"fields\":[[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"]],\"values\":[[avg,p,c,bmi,a,sex,fh,smoker,e]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":40,"wires":[["8ece8714.57b548"]]},{"id":"8ece8714.57b548","type":"http request","z":"f76b3e37.482bc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/f1cc8833-5241-4e46-82a8-44fe3e4d8751/predictions?version=2021-06-22","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":100,"wires":[["b64880ea.d3e19","e4d212b2.6734"]]},{"id":"b64880ea.d3e19","type":"debug","z":"f76b3e37.482bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":200,"wires":[]},{"id":"e4d212b2.6734","type":"function","z":"f76b3e37.482bc","name":"","func":"\nif(msg.payload.predictions[0].values[0][0]===\"N\") msg.payload=\"No\"\nif(msg.payload.predictions[0].values[0][0]===\"Y\") msg.payload=\"Yes\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":20,"wires":[["a0af3215.3e64a","64fdd8f4.70de98"]]},{"id":"a0af3215.3e64a","type":"debug","z":"f76b3e37.482bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":40,"wires":[]},{"id":"64fdd8f4.70de98","type":"ui_text","z":"f76b3e37.482bc","group":"775139c.d8959c8","order":1,"width":0,"height":0,"name":"","label":"Prediction Result is ","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":120,"wires":[]},{"id":"775139c.d8959c8","type":"ui_group","name":"Enter the values","tab":"f4440687.ae6ea8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f4440687.ae6ea8","type":"ui_tab","name":"                                                                                                               Heart Failure Prediction","icon":"dashboard","disabled":false,"hidden":false}]